.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customButton{
   background-color: orangered;
   padding: 5px;
   margin: 5px;
}
.details{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dotted;
  border-radius: 5px;
  width: 400px;;
}
